<form action="/articles" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <br>
    <label>Content</label>
    <input type="text" name="content">
    <input type="submit" value="Submit">
</form>